.site-navigation a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $title-text-color;
    list-style: none;
    display: flex;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
   .site-navigation .address,
   .site-navigation .email,
   .site-navigation .telefon {
    line-height: 1.71;
  }
  
  .site-navigation a:hover,
  .site-navigation a:focus  {
    color: $accent-color;
  }
  .footer {
    background: #2F303A;

   .address,
   .email {
    color: $primary-white-color;
    font-style: normal;
    line-height: 1.71;
  }
   .logo {
    color: $primary-white-color;
    display: flex;
    padding-bottom: 20px;
   }
   &-site {
    display: block;
  }
}
.container-footer {
  height: 252px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-bottom: 60px;
  padding-top: 60px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
}
.right-footer h2 {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-white-color;
  margin-bottom: 20px;
}
.right-footer {
  margin-left: 70px;
}
