.container-services {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-top: 94px;
  padding-bottom: 94px;
  padding-left: 15px;
  padding-right: 15px;
}
.list-services {
    display: flex;
  }
  .services::before {
    content: "";
    display: block;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
  }
  .services:nth-child(1)::before {
    background-image: url(../img/antenna.svg);
  }
  
  .services:nth-child(2)::before {
    background-image: url(../img/clock.svg);
  }
  .services:nth-child(3)::before {
    background-image: url(../img/diagram.svg);
  }
  .services:nth-child(4)::before {
    background-image: url(../img/astronaut.svg);
  }
  .services {
    width: 270px;
    margin-right: 30px;
 
    &-list {
      font-weight: bold;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: $title-text-color;
      margin-top: 0px;
      margin-bottom: 10px;
    }
    &-list-item {
      font-weight: normal;
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.03em;
      margin-top: 0px;
    }
    &-list-item:not(:last-child) {
    margin-right: 30px;
    }
}
  
  